@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}
  
body {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

/* Style the header */
.header {
    background-image: url("img/sig.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.h2{
    text-align: center;
    font-size: 15px;
}

.about {
    padding: 20px;
    text-align: center;
    background-color: rgb(247, 247, 229);
  }

/* Create three equal columns that float next to each other */
.service {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: bisque;
  }

  /* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Left and right column */
.column.side {
    width: 23%;
    background-color: antiquewhite;
  }
  
  /* Middle column */
.column.middle {
    width: 48%;
    background-color: bisque;
  }
  
  /* Clear floats after the columns */
.row2::after {
    content: "";
    display: table;
    clear: both;
  }

.serv{
    background-image: url("img/serv.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.aim {
    padding: 20px;
    text-align: center;
    background-color: beige;
  }
  
.ref {
    padding: 20px;
    text-align: center;
  }
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#customers tr:hover {
    background-color: #ddd;
}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(204, 202, 202);
    color: #000;
}

.Footer {
    text-align: center;
    color: #000;
    font-family: 'Poppins', sans-serif !important;
    float: top;
    width: 100%;
    padding: 15px;
    background-color: rgb(238, 238, 238);
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 400px) {
    .about{
        background-color: #f8e3b2;
    }  
    .service {
        width: 100%;
      }
      .column.side, .column.middle {
        width: 100%;
      }
      .header {
        display: none;
      }
      .serv{
          background-image: url("img/fuel.png");
      }
    }
  
  @media screen and (max-width: 600px) {
    .about{
        background-color: #f8e3b2;
    }    
    .service {
        width: 100%;
      }
      .column.side, .column.middle {
        width: 100%;
      }
      .header {
        display: none;
      }
    }
  
  @media screen and (max-width: 800px) {
    .about{
        background-color: #f8e3b2;
    }  
    .service {
      width: 100%;
    }
    .column.side, .column.middle {
        width: 100%;
      }
      .header {
        display: none;
      }
  }
